:root {
	--fg: #fff;
	--bg: #181111;
	--inner-shadow: #f8a10033;
	--shadow: #A003;
	--bg-back: #000;
	--link: #ff9500;
	--link-visited: #bb6d00;
}

@media(prefers-color-scheme: light) {
	:root {
		--fg: #000;
		--bg: #F8EEEE;
		--shadow: #A003;
		--bg-back: #FFF;
	}
}

html {
	background: var(--bg-back);
	background: repeating-linear-gradient(var(--bg-back) 0px, var(--bg) 4px);
}

body {
	background: var(--bg);
	color: var(--fg);
	box-sizing: border-box;
	width: 784px;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	box-shadow: var(--shadow) 0px 0px 32px 32px, inset 0 0 64px 4px var(--inner-shadow);
	border-radius: 16px;
	padding: 32px;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

@media(max-width: 784px) {
	body {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		border-radius: 0px;
	}
}

a {
	color: var(--link);
}

a:hover {
	text-shadow: var(--link) 2px 0 10px;
}

a:visited {
	color: var(--link-visited);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
