:root {
	--fg: #fff;
	--bg: #181111;
	--inner-shadow: #f8a10033;
	--shadow: #a003;
	--bg-back: #000;
	--link: #ff9500;
	--link-visited: #bb6d00;
	--header-glow: 
		linear-gradient(170deg, #006fff80 0, transparent 160px),
		linear-gradient(-177deg, #A0754090 0,  transparent 120px);
}

@media (prefers-color-scheme: light) {
	:root {
		--header-glow: 
			linear-gradient(170deg, #00aeffab 0, transparent 160px),
			linear-gradient(-177deg, #ff991c90 0,  transparent 120px);
		--fg: #000;
		--bg: #f8eeee;
		--shadow: #a003;
		--bg-back: #fff;
	}
}

html {
	background: var(--bg-back);
	background: repeating-linear-gradient(var(--bg-back) 0px, var(--bg) 4px, var(--bg-back) 0px);
}

body {
	background: var(--bg);
	background-image: var(--header-glow);
	color: var(--fg);
	box-sizing: border-box;
	width: 784px;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	box-shadow:
		var(--shadow) 0px 0px 32px 32px,
		inset 0 0 64px 4px var(--inner-shadow);
	border-radius: 16px;
	padding: 32px;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

@media (max-width: 784px) {
	body {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		border-radius: 0px;
	}
}

a {
	color: var(--link);
}

a:hover {
	text-shadow: var(--link) 2px 0 10px;
}

a:visited {
	color: var(--link-visited);
}

a[href^="http://"]:not(.no-arrow):not(a[href^="http://xcvbnm.org"])::after, a[href^="https://"]:not(.no-arrow):not(a[href^="https://xcvbnm.org"])::after {
	content: "⤤"
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
