---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				Hi, I'm EDave, a progammer from germany. On this page, I want to share
				some of my projects and thoughts with you.
			</p>
			<p>
				I mostly do web-development, but am interested in a broad range of
				programming fields.
			</p>
		</main>
		<Footer />
	</body>
</html>
